.Controles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.botonAgregar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Button{
    width: 2.5rem;
    height: 2.5rem;
}
.btn-agregar{
    
}